body{
    max-width: 900px;
    margin: auto;
    color: #333333;
}

nav {
    position: sticky;
    font-size: 1.2em;
    margin-top: 1em;
    margin-bottom: 2em;
}

nav a
{
    margin: 0.5em;
    padding: 0.5em 0 2px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #222;
}

nav a.selected{
    border-bottom: 5px solid #5da35b;
    cursor: default;
}

nav a:hover{
    border-bottom: 5px solid #5da35b;
}

fieldset{
    margin: 1em 0;
    padding: 1em;
}
fieldset label {
    display: block;
    margin: 0.1em;
}
.inline{
    display: inline-block;
}


fieldset label input,fieldset label output, button{
    padding: 0.5em;
    margin: 0.5em;
    margin-left: 1em;
    line-height: 2em;
    min-width: 2em;
    height: 2em;
    vertical-align: middle;

        background: none;
    border: none;

    border-radius: 3px;
    border: 1px solid #c3c3c3;
}

select {
    border: 1px solid #c3c3c3;
    margin: 0;
    padding: 0;
    padding: 1.0em 0.5em!important;
    line-height: inherit;
    height: inherit;
}

output {
    border: 1px solid #c3c3c3;
    padding: 0.8em !important;
    border-radius: 5px;
}

fieldset legend {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    cursor: pointer;


}

button.mini {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
    font-weight: bold;
    width:  2em;
    height: 2em;
}

button[name="save"]{
    font-size:1.5em;
    padding: 0.5em;
}

.delete:hover {
    /* border: 1px solid #f00; */
    background-color: red;
    border: none;
    transition: all 0.6s;
    border-radius: 5px;
    color: white;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

main section > * {
    flex-grow: 1;
    margin: 1em;
}

#log{
    padding: 2em;
    border: 1px dotted rgb(77, 77, 77);
    background-color: rgb(194, 194, 194);
    overflow: auto;
    margin: 0.5em;
    font-size: 1em;
}
.hide{
    display: none;
}
